.search-bar {
    @include display-flex(flex);
    @include justify-content-start;
    @include align-items-center;
    position: relative;

    .search-wrap {
        @include display-flex(flex);
        @include justify-content-between;
        border: 1px solid var(--border-color);
        @include align-items-stretch;
        background-color: var(--white-color);
        @include flex-grow(1);
        max-width: 600px;
        @include radius(5px);

        input {
            &.form-control {
                flex-grow: 1;
                height: calc(1.2rem + .75rem + 2px);
                border: none;
                display: initial;
                background-color: var(--white-color);

                &:focus {
                    background-color: var(--bg-color);
                }

                @include input-placeholder {
                    color: var(--heading-color);
                }
            }
        }

        span {
            width: 44px;
            padding-right: 0;
            text-align: center;
            @include display-flex(flex);
            @include justify-content-center;
            @include align-items-center;
            @include flex-direction-column(column);
            cursor: pointer;
            color: var(--primary-color);


            i {
                font-size: 1rem;
                font-weight: 700;

            }

            &.is-right {
                padding-right: .5rem;
                padding-left: 0;
            }

            &:hover {
                color: var(--secondary-color);
            }
        }
    }

    button {
        padding: 0;
        width: 40px;
        height: 37px;
        min-width: initial;
        border-color: var(--grey-color);
        @include radius(8px);
        margin-left: .6125rem;
        background-color: var(--white-color);
        color: var(--secondary-color);
        margin-left: 1rem;

        &:focus,
        &:hover {
            background-color: var(--secondary-color);
            color: var(--white-color);
            outline: none;
            -webkit-outline: none;
            box-shadow: none;
        }
    }

    a {
        &.toggle-icon {
            margin-left: 1rem;
            color: var(--body-color);

            svg {
                font-size: 1.5rem;
            }
        }
    }

    &.is-full {
        .search-wrap {
            max-width: 100%;
        }
    }
}

.akabare-search {
    max-width: 768px;
    margin: 1rem auto;

    .search-bar {
        .search-wrap {

            input {
                &.form-control {
                    height: calc(2.5rem + .75rem + 2px);

                    @include input-placeholder {
                        color: var(--heading-color);
                    }

                    &:focus {
                        background-color: var(--primary-light);
                    }
                }
            }

            span {
                width: 60px;
                background-color: var(--white-color);

                i {
                    font-size: 1.5rem;
                    color: var(--secondary-color);
                }
            }

            &:focus-within {
                background-color: var(--primary-light);

                span {
                    background-color: var(--primary-light);

                    i {
                        color: var(--primary-color);
                    }
                }
            }
        }
    }
}