.custom-breadcrumb {
    padding: .6125rem;
    background-color: var(--grey-light);

    ol {
        li {
            a {
                color: var(--primary-color);

                &:hover {
                    color: var(--secondary-color);
                }
            }

            &:not(:last-child) {
                &::after {
                    content: '/';
                    display: inline-flex;
                    margin: 0 .5rem;
                }
            }
        }
    }
}