.filter-modal {
    .popup-container {
        .popup-body {
            .popup-content {
                padding: 0;
            }
        }
    }

    .custom-radio {
        @include justify-content-between;

        label {
            font-weight: 400;
        }
    }



    .popup-footer {
        .common-buttons {
            &.is-bg {
                color: $white-color;
            }
        }
    }
}