.is-pagination {
    a {
        &.is-link {
            background-size: 6px;
            width: 34px;
            @include radius(50%);
            height: 34px;
            margin: 0 8px;
            background-color: var(--white-color);
            box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
            border: 1px solid var(--border-color);
            @include display-flex(flex);
            @include align-items-center;
            @include justify-content-center;
            @include flex-direction-column(column);
            @include transition(all .5s ease-in-out);

            &.is-active {
                background-color: var(--primary-color);
                color: var(--white-color);
            }

            &:hover {
                background-color: var(--secondary-light);
                color: var(--secondary-color);
            }
        }
    }
}