@import "./menu";

header {

    &.site-header {
        max-width: 100%;
        width: 100%;
        margin: 0 auto;
        background-color: $white-color;
        @include transition(all .5s ease-in-out);


        .header-in {
            @include display-flex(flex);
            @include justify-content-between;
            @include align-items-center;
            padding: 1rem 0;
            @include flex-wrap(wrap);

            .header-left {
                @include order(0);
            }

            .site-logo {
                padding-right: 2rem;

                img {
                    max-height: 50px;
                }


            }

            .header-middle {
                @include order(2);
                @include flex(0 0 100%);
                max-width: 100%;
                @include justify-content-between;
                margin-top: .6125rem;
            }

            .header-search {
                padding-left: 2rem;

                .search-wrap {
                    input {
                        &.form-control {
                            min-width: unset;
                            display: none;
                            opacity: 0;
                            visibility: hidden;

                        }
                    }

                    span {
                        height: 36px;
                    }


                    @media #{$breakpoint-pt} {

                        input {
                            &.form-control {
                                display: block;
                                opacity: 1;
                                visibility: visible;
                            }
                        }

                        span {
                            height: auto;
                        }
                    }



                    @media #{$breakpoint-xl} {
                        input {
                            &.form-control {
                                min-width: 350px;
                            }
                        }

                    }

                    @media #{$breakpoint-desktop} {

                        input {
                            &.form-control {
                                min-width: 450px;
                            }
                        }
                    }
                }

            }

            .header-right {
                @include flex-wrap(wrap);

                .header-dropdowns {
                    @include display-flex(flex);
                    @include justify-content-end;
                    @include align-items-center;
                }

                .main-navigation-wrap {
                    @include flex-grow(1);
                    @include display-flex(flex);
                    @include justify-content-end;
                    @include align-items-center;
                    background-color: $secondary-color;
                }

                .custom-dropdown {
                    &:not(:last-child) {
                        margin-right: .6125rem;
                    }
                }
            }

            .custom-dropdown {
                a {

                    .dropdown-content {
                        padding-left: 5px;

                        span {
                            font-size: .775rem;
                        }

                        p {
                            font-weight: 500;
                            font-size: .775rem
                        }
                    }
                }

                &.is-profile {

                    a {
                        width: 100%;
                        padding-right: 1rem;
                        display: inline-flex;
                        min-width: 80px;

                        .is-flex {

                            figure {
                                @include flex(0 0 32px);
                                max-width: 32px;
                                @include radius(50%);
                                height: 34px;
                                position: relative;

                                img {
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    left: 0;
                                    bottom: 0;
                                    @include radius(50%);
                                }

                                .dropdown-content {
                                    p {
                                        @include trim(1);
                                    }
                                }
                            }
                        }
                    }
                }

                &.location-dropdown,
                &.is-notification {
                    ul {
                        &.custom-dropdown-menu {
                            min-width: 250px;
                        }
                    }
                }

                &.is-notification {
                    ul {
                        &.custom-dropdown-menu {
                            li {


                                a {
                                    @include justify-content-between;

                                    h6 {
                                        font-size: .775rem;
                                        margin-bottom: .25rem;
                                    }

                                    .notification-content {
                                        @include flex-grow(1);
                                        padding-right: 1rem;
                                    }


                                    time {
                                        opacity: .7;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            @media #{$breakpoint-lg} {
                @include flex-wrap(nowrap);

                .header-left {
                    @include order(0)
                }

                .header-middle {
                    @include order(1);
                    flex: unset;
                    max-width: unset;
                    @include flex-grow(1);
                    @include justify-content-start;
                    margin: 0;

                    .search-bar {
                        padding: 0 2rem;
                    }
                }

                .header-right {
                    @include order(2);
                }

            }
        }

        a.logo {
            @include flex(0 0 150px);
            max-width: 150px;

            @media #{$breakpoint-xs} {

                @include flex(0 0 180px);
                max-width: 180px;
            }
        }



        .bottom-header {
            border-top: 1px solid $border-color;

        }

        &.is-sticky {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            z-index: 1011;
        }
    }
}

@media screen and (max-width:992px) {
    header {
        &.site-header {
            .header-in {
                padding-bottom: 0;
            }

            .bottom-header {
                border: none;
            }
        }
    }

    .Is-toggle {
        header {
            &.site-header {
                .bottom-header {
                    right: 0;
                    background-color: $heading-color;
                }
            }
        }
    }
}