@import "./menu";

header {

    &.site-header {
        max-width: 100%;
        width: 100%;
        margin: 0 auto;
        background-color: $white-color;
        padding: 1rem 0;

        .header-in {
            @include display-flex(flex);
            @include justify-content-between;
            @include align-items-center;



            .site-logo {
                padding-right: 2rem;

                img {
                    max-height: 50px;
                }
            }

            .header-search {
                margin-left: 2rem;

                input {
                    &.form-control {
                        min-width: unset;

                        @media screen and(min-width:1280px) {
                            min-width: 350px;
                        }

                        @media screen and(min-width:1440px) {
                            min-width: 450px;
                        }
                    }
                }
            }

            .header-right {
                @include display-flex(flex);
                @include justify-content-end;
                @include align-items-center;


                .main-navigation-wrap {
                    @include flex-grow(1);
                    @include display-flex(flex);
                    @include justify-content-end;
                    @include align-items-center;
                    background-color: $secondary-color;
                }

                .custom-dropdown {
                    &:not(:last-child) {
                        margin-right: .6125rem;
                    }
                }
            }

            .custom-dropdown {
                a {

                    .dropdown-content {
                        padding-left: 5px;

                        span {
                            font-size: .775rem;
                        }

                        p {
                            font-weight: 500;
                            font-size: .775rem
                        }
                    }
                }

                &.is-profile {

                    a {
                        width: 100%;

                        &.is-flex {
                            padding-right: 4rem;

                            figure {
                                @include flex(0 0 34px);
                                max-width: 34px;
                                @include radius(50%);
                                height: 34px;
                                position: relative;

                                img {
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    left: 0;
                                    bottom: 0;
                                    @include radius(50%);
                                }

                                .dropdown-content {
                                    p {
                                        @include trim(1);
                                    }
                                }
                            }
                        }
                    }
                }

                &.location-dropdown,
                &.is-notification {
                    ul {
                        &.custom-dropdown-menu {
                            min-width: 250px;
                        }
                    }
                }

                &.is-notification {
                    ul {
                        &.custom-dropdown-menu {
                            li {


                                a {
                                    @include justify-content-between;

                                    h6 {
                                        font-size: .775rem;
                                        margin-bottom: .25rem;
                                    }

                                    .notification-content {
                                        @include flex-grow(1);
                                        padding-right: 1rem;
                                    }


                                    time {
                                        opacity: .7;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        a.logo {
            @include flex(0 0 180px);
            max-width: 180px;

            @media #{$breakpoint-xs} {
                max-width: 150px;
            }
        }

        &.sticky {
            z-index: 1011 !important;
        }
    }
}

@media #{$breakpoint-md} {
    .Is-toggle {
        .site-header {
            .header-in {
                .main-navigation {
                    right: 0;
                }
            }
        }
    }
}