.main-navigation-wrap {
    @include flex-grow(1);
}

.main-navigation {
    ul {
        @include display-flex(flex);
        @include justify-content-start;
        @include align-items-center;
        @include flex-wrap(wrap);
        list-style: none;
        margin: 0;

        li {
            position: relative;
            margin: 0;


            span {
                &.icon {
                    position: absolute;
                    right: 0;
                    top: 45%;
                    @include transform(translateY(-50%));

                    &::after {
                        @include transition(all .5s ease-in-out);
                        content: "";
                        display: inline-block;
                        width: 8px;
                        height: 8px;
                        border-top: 1.6px solid $primary-color;
                        border-right: 1.6px solid $primary-color;
                        transform: rotate(135deg);
                    }
                }
            }

            a {
                color: $heading-color;
                padding: 1rem 0;
                font-size: .8125rem;
                font-weight: 500;
                @include transition(all .5s ease-in-out);
                text-transform: capitalize;
                display: block;
                font-family: $heading-fonts;
                text-decoration: none;

                &:hover {
                    color: $secondary-color;
                }
            }

            &.menu-item-has-current,
            &.page_item_has_current,
            &.current-menu-item,
            &:hover {
                a {
                    color: $secondary-color;
                }

                ul {
                    a {
                        color: $heading-color;
                    }
                }
            }


            &.menu-item-has-children,
            &.page_item_has_children {
                a {
                    position: relative;
                    padding-right: 1rem;

                }

                ul {
                    margin: 0;
                    display: block;
                    visibility: hidden;
                    opacity: 0;
                    transform: translateY(50px);
                    @include transition(all .5s ease);
                    position: absolute;
                    top: 100%;
                    left: 0;
                    z-index: 1000;
                    min-width: 250px;
                    background-color: $white-color;
                    @include radius(8px);
                    @include box-shadow(0px 6px 10px rgba(0, 0, 0, .1));
                    border-top: 2px solid $primary-color;

                    &::before {
                        border-style: solid;
                        content: "";
                        position: absolute;
                        border-color: $primary-color transparent;
                        border-width: 0 10px 10px;
                        left: 9px;
                        top: -11px;
                    }

                    li {
                        width: 100%;
                        margin: 0;

                        span {
                            &.icon {
                                @include transform(rotate(-90deg));
                                right: .6125rem;
                                top: 20%;
                            }
                        }

                        a {
                            display: block;
                            padding: 6px 15px;
                            font-size: .8125rem;
                            text-transform: capitalize;

                            &:hover,
                            &:focus-within {
                                color: $secondary-color;
                                padding-left: 15px;
                            }
                        }

                        &.menu-item-has-children,
                        &.page_item_has_children {
                            position: relative;
                        }

                        ul {
                            left: 100%;

                            &::before {
                                display: none;
                            }
                        }

                        &:hover,
                        &:focus-within {
                            ul {
                                display: block;
                                opacity: 1;
                                visibility: visible;
                                top: 100%;
                                transform: translateY(0);
                            }
                        }

                        &:not(:last-child) {
                            a {
                                border-bottom: 1px solid $border-color;
                            }
                        }
                    }
                }

                &:hover,
                &:focus-within {

                    ul {
                        display: block;
                        opacity: 1;
                        visibility: visible;
                        top: 100%;
                        transform: translateY(0);

                        ul {
                            display: none;
                            opacity: 0;
                            visibility: hidden;
                            @include transform(translateY(50px));
                            top: 100%;
                        }

                    }
                }
            }

            &:not(:last-child) {
                margin: 0 2rem 0 0;
            }
        }
    }
}

.mobile-menu {
    display: none;

    .mobile-menu-button {
        @include display-flex(flex);
        @include justify-content-start;
        @include align-items-center;

        b {
            margin-left: .5rem;
            margin-top: -5px;
        }
    }
}

a.toggle-button {
    position: relative;
    width: 30px;
    height: 30px;
    @include transition(all .5s ease-in-out);

    span {
        position: absolute;
        height: 3px;
        border-radius: 4px;
        width: 100%;
        background-color: $body-color;
        top: 0;
        transition: transform .2s ease-in-out, opacity .2s ease-in-out;
        z-index: 1101;

        &:nth-child(1) {
            top: 0;
        }

        &:nth-child(2),
        &:nth-child(3) {
            top: 10px;
        }

        &:nth-child(4) {
            top: 20px;
        }
    }

    &.active {
        position: absolute;
        top: 15px;
        right: 15px;
        z-index: 1000;
        display: none;

        span {

            &:nth-child(1),
            &:nth-child(4) {
                opacity: 0;
            }

            &:nth-child(2) {
                transform: rotate(45deg);
                background-color: $secondary-color;
            }

            &:nth-child(3) {
                transform: rotate(-45deg);
                background-color: $secondary-color;
            }
        }
    }
}



@media screen and(max-width:992px) {
    .menu-wrapper {
        @include display-flex(flex);
        @include justify-content-between;
        @include align-items-center;
    }

    .main-navigation {
        position: fixed;
        height: 100%;
        max-width: 280px;
        padding: 15px;
        padding-top: 40px;
        width: 100%;
        background-color: $heading-color;
        z-index: 999999;
        top: 0;
        right: 0;
        left: auto;
        bottom: 0;
        display: none;
        @include transition(all 0.5s ease-in-out);
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;

        &::-webkit-scrollbar {
            width: 4px;
            background: $border-color;
            @include radius(4px);
        }

        &::-webkit-scrollbar-track {
            background-color: $border-color;
            @include radius(4px);
        }

        &::-webkit-scrollbar-thumb {
            @include radius(4px);
            background: $border-color;
        }

        ul {
            display: initial;
            width: 100%;
            @include justify-content-start;
            text-align: left;

            li {
                display: block;
                border-bottom: 1px solid $body-color;

                span {
                    &.icon {
                        top: 16px;
                        width: 22px;
                        height: 22px;
                        color: $white-color;
                        border: 1px solid $border-color;
                        @include radius(5px);
                        z-index: 999;
                        @include display-flex(flex);
                        @include justify-content-center;
                        @include align-items-center;
                        @include flex-direction-column(column);
                        padding: 0;

                        &::after {
                            border-color: $white-color;
                            border-color: $white-color;
                            margin-top: -5px;
                        }
                    }
                }

                a {
                    color: $white-color;
                    padding: .5rem .6125rem;
                    display: block;
                    font-size: .875rem;
                }

                &.menu-item-has-children,
                &.page_item_has_children {
                    position: relative;



                    ul,
                    ul ul {
                        border: none;
                        display: none;
                        transition: initial;
                        position: initial;
                        top: initial;
                        left: initial;
                        transform: none;
                        opacity: 1;
                        transform-origin: initial;
                        width: 100%;
                        visibility: initial;
                        background-color: transparent;

                        li {
                            width: 100%;
                            border: 0;

                            span {
                                &.icon {
                                    top: 10px;
                                }
                            }

                            a {
                                width: 100%;
                                border: 0;
                                color: $white-color;

                            }


                            ul {
                                float: none;
                            }
                        }

                        &::before {
                            display: none;
                        }
                    }

                    &:hover {
                        a {
                            &::after {
                                display: none;
                            }
                        }

                        ul {
                            display: none;
                            transition: initial;
                            position: initial;
                            top: initial;
                            left: initial;
                            display: none;
                            transform: none;
                            visibility: initial;
                            transform-origin: initial;

                        }
                    }

                    &:focus-within {
                        a {
                            &::after {
                                display: none;
                            }
                        }

                        ul {
                            display: block;

                            ul {
                                display: none;
                            }

                        }
                    }

                    ul {
                        li {
                            &:focus-within {
                                ul {
                                    display: block;
                                }
                            }
                        }
                    }
                }

                &:hover {
                    a {
                        color: $secondary-color;
                    }
                }

                &:not(:last-child) {
                    margin-right: 0;
                }
            }
        }
    }

    .mobile-menu {
        display: block;
    }

    a.toggle-button {
        &.active {
            display: block;
        }
    }
}