.cart {
    .acc {


        .acc-list {
            background-color: $white-color;
            @include box-shadow (0 .125rem .25rem rgba(0, 0, 0, .075));
            @include radius(.40rem);
            position: relative;

            .acc-header {
                border-bottom: 1px solid $border-color;
                padding-left: .6125rem;
                padding-right: .6125rem;

                span {
                    &.counter {
                        width: 28px;
                        height: 28px;
                        @include display-flex(flex);
                        @include justify-content-center;
                        @include align-items-center;
                        @include flex-direction-column(column);
                        border: 1px solid $border-color;
                        color: $secondary-color;
                        @include radius(50%);
                        font-size: 1rem;
                        margin-right: .6125rem;
                    }
                }

                h5 {
                    font-size: 1rem;
                    font-weight: 500;
                }
            }

            &.is-active {
                .acc-header {
                    h5 {
                        color: $heading-color;
                    }

                    span {
                        &.counter {
                            border-color: $secondary-color;
                        }
                    }
                }

                .acc-body {
                    display: block;
                }
            }

            &:not(:last-child) {
                margin-bottom: 1rem;
            }
        }

        ul {
            &.is-list {
                li {
                    &.akabare-product {
                        box-shadow: none;
                        padding: 1rem;
                        @include radius(0);

                        figure {
                            @include flex(0 0 120px);
                            max-width: 120px;
                            @include radius(5px);

                            img {
                                max-width: 100%;
                                height: auto;
                                width: 100%;
                                @include radius(5px);
                            }
                        }

                        .product-content {
                            @include flex-grow(1);
                            padding-left: 1rem;
                        }

                        .badge {
                            left: .6125rem;
                        }

                        &:hover {
                            @include box-shadow (0 15px 50px rgba(0, 0, 0, .075));
                            @include transform(translateY(0));
                        }
                    }
                }
            }
        }
    }

    .cart-footer {
        padding: 0 1rem;
        margin-top: 1rem;

        a {
            background-color: $primary-color;
            color: $white-color;
            padding: .6125rem 1rem;
            @include radius(5px);
            @include transition(all .5s ease-in-out);
            font-size: 1rem;


            h5,
            h6 {
                color: $white-color;
            }

            h5 {
                font-size: 1rem;
            }

            p {
                font-size: .875rem;
            }

            span {
                text-transform: capitalize;
            }

            &:hover {
                background-color: rgba($primary-color, .9);
            }
        }
    }

    .delivery-address {
        padding: 1rem;
    }

    .delivery-time {
        .custom-tab {
            ul {
                &.tab-list {
                    padding: 0 1rem;
                    border-bottom: 1px solid $border-color;

                    li {
                        @include flex(0 0 16.6667%);
                        max-width: 16.6667%;
                        margin: 0;

                        a {
                            text-align: center;
                            font-size: .775rem;
                            font-weight: 400;

                            b {
                                display: block;
                                text-transform: uppercase;
                                color: $body-color;
                            }

                        }
                    }
                }
            }
        }

        .delivery-header {
            text-align: center;
            padding: 1rem;

            i {
                font-size: 4rem;
                color: $secondary-color
            }

            p {
                margin-top: .6125rem;
            }

            h6 {
                font-size: 1rem;
            }
        }
    }

}

.akabare-payment {
    padding: 1rem;

    .payment-item {
        margin-bottom: 0;
        width: initial;
        padding: 1.5rem;
        border: 1px solid $bg-color;
        @include radius(5px);
        @include display-flex(flex);
        @include justify-content-center;
        @include align-items-center;
        @include flex-direction-column(column);
        min-height: 90px;
        min-width: 120px;
        margin-bottom: .6125rem;
        position: relative;
        cursor: pointer;
        @include transition(all .5s ease-in-out);

        img {
            max-height: 32px;
        }

        span.cash {
            i {
                font-size: 3rem;
            }
        }

        span {
            &.check-icon {
                position: absolute;
                right: .5rem;
                top: .15rem;
                color: $border-color;
                z-index: 1;
                display: block;
                font-size: 1.5rem;
            }
        }

        &:not(:last-child) {
            margin-right: 1rem;

        }

        &.is-active,
        &:hover {
            border-color: $primary-color;

            span {
                &.check-icon {
                    color: $primary-color;
                }
            }
        }
    }
}

.checkout-summary {
    p {
        font-size: .875rem;

        &:not(:last-child) {
            margin-bottom: .25rem;
        }
    }
}

.checkout-summary-card {
    .card-footer {
        h4 {
            color: $primary-color;
        }
    }

    .buttons {
        a {
            &.common-button {
                width: 100%;
            }
        }
    }
}

.custom-card {
    &.checkout-card {
        .card-header {
            padding-top: .6125rem;
            padding-bottom: .6125rem;
        }

        .selected-payment {
            font-size: 1rem;
            color: $primary-color;
        }

        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }
}