.is-title {
    margin-bottom: 1rem;

    h5 {
        font-size: 1.25rem;
        font-weight: 500;

        &::first-letter {
            text-transform: capitalize;
        }
    }
}

.akabare-categories {
    margin-top: 2rem;
}

.categories-slider {
    .categories-slider-item {
        background-color: $white-color;
        @include box-shadow (0 .125rem .25rem rgba(0, 0, 0, .075));
        @include radius(.40rem);
        padding: 1rem .5rem;
        margin: 0 .5rem;
        text-align: center;
        @include transition(all .5s ease-in-out);

        a {
            display: block;
            text-align: center;
        }

        img {
            max-height: 40px;
            margin: 0 auto;
        }

        p {
            font-size: .775rem;
            @include trim(1);
            margin-top: .5rem;
            text-transform: capitalize;
        }

        &:hover {
            @include box-shadow (0 15px 50px rgba(0, 0, 0, .075));
            @include transform(translateY(-7px));
        }
    }
}

.akabare-promo {
    margin: 3rem 0;
}

.promo-slider {


    .promo-slider-item {
        margin: 0 .5rem;
    }

    img {
        @include radius(5px);
    }
}

.recommend-slider2 {
    &.slick-dotted {
        &.slick-slider {
            margin-bottom: .6125rem;
        }
    }
}

.akabare-product {
    background-color: $white-color;
    @include box-shadow (0 .125rem .25rem rgba(0, 0, 0, .075));
    @include radius(.40rem);
    padding: .6125rem;
    position: relative;
    @include transform(0);
    @include transition (all .5s ease-in-out);

    a {
        &.is-cancel {
            position: absolute;
            right: 1rem;
            top: .6125rem;
            z-index: 1;
            color: $grey-color;

            &:hover {
                color: $secondary-color;
            }
        }
    }

    figure {
        position: relative;
        text-align: center;

        img {
            @include radius(5px);
        }
    }


    .discount {
        position: absolute;
        top: .6125rem;
        left: .6125rem;

        .badge {
            font-size: 11px;
            padding: 7px 9px;
            font-weight: 500;
            background-color: $secondary-color;
            color: $white-color;
            @include radius(.25rem);
        }
    }

    .product-content {
        h5 {
            font-size: 1rem;

            a {
                color: initial;
            }
        }

        .price {
            color: $primary-color;
            font-weight: 500;

            &.is-strike {
                text-decoration: line-through;
                color: $secondary-color;
                margin-left: .6125rem;
            }

            &.is-discounted-price {
                color: $heading-color;
                margin-top: 1rem;
                font-weight: 600;
            }
        }
    }

    .recommend-item {
        margin: .5rem;
    }

    &:hover {
        @include box-shadow (0 15px 50px rgba(0, 0, 0, .075));
        @include transform(translateY(-7px));
    }

    @media #{$breakpoint-md} {
        padding: 1rem;
    }
}

.recommend {
    margin: 1rem 0;
}