.akabare-listing {
    .is-title {
        .common-buttons {
            &.is-bg {
                background-color: var(--white-color);
                color: var(--body-color);

                &:hover {
                    color: var(--primary-color);

                    i {
                        color: var(--primary-color);
                    }
                }
            }
        }

        .filter-buttons {
            @media screen and (max-width:425px) {
                margin-top: .6125rem;
            }
        }
    }


}