.akabare-listing {
    .is-title {
        .common-buttons {
            &.is-bg {
                background-color: var(--white-color);
                color: var(--body-color);

                &:hover {
                    color: var(--primary-color);

                    i {
                        color: var(--primary-color);
                    }
                }
            }
        }
    }
}