.akabare-listing {
    .is-title {
        .common-buttons {
            &.is-bg {
                background-color: $white-color;
                color: $body-color;

                &:hover {
                    color: $primary-color;

                    i {
                        color: $primary-color;
                    }
                }
            }
        }
    }
}