.custom-tab {
    &.order-tab {


        ul {
            &.tab-list {
                li {
                    width: 100%;

                    a {
                        @include display-flex(flex);
                        @include justify-content-start;
                        @include align-items-center;
                        font-size: .875rem;
                        font-weight: 400;
                        color: var(--heading-color);

                        span {
                            &.circle-icon {
                                border: none;
                                background-color: var(--white-color);
                            }
                        }

                        &.is-active,
                        &:hover {
                            background-color: var(--bg-light);
                            color: var(--heading-color);

                            span {
                                &.circle-icon {
                                    background-color: var(--primary-color);
                                    color: var(--white-color);
                                }
                            }
                        }
                    }
                }
            }
        }

        .custom-tab-content {
            padding: 0;
        }

        .order-col {
            p {
                color: var(--shadow-color);
                margin-bottom: .25rem;
            }

            b {
                color: var(--heading-color);
            }


        }

        .order-list {
            .custom-card {
                .card-header {
                    .common-button {
                        min-width: unset;
                        min-height: unset;
                        padding: .25rem .6125rem;
                    }

                    .is-date {
                        color: var(--shadow-color);

                        i {
                            margin-right: .25rem;
                        }

                        span {
                            margin: 0 .25rem;
                        }
                    }
                }

                &:not(:last-child) {
                    margin-bottom: .6125rem;
                }

                .custom-body {
                    h4 {
                        text-transform: capitalize;
                    }

                    p {
                        color: var(--shadow-color);
                    }


                }

                .order-dsc {
                    border-top: 1px solid var(--border-color);

                    .card-header {
                        border: none;

                        h4 {
                            text-transform: capitalize;
                        }

                        b {
                            font-size: 1.2rem;
                        }
                    }

                    .custom-body {
                        padding-top: 0;
                    }
                }
            }
        }

        .custom-card {
            .card-header {
                .is-flex {
                    &.is-end {
                        time {
                            margin-left: .25rem;
                        }
                    }
                }
            }
        }
    }
}