.akabare-product-details {
    background-color: var(--white-color);
    padding: 1rem;
    @include radius(5px);

    @media #{$breakpoint-pt} {
        padding: 2rem;
    }

    .akabare-product-slider {
        padding: 0;

        .slick-prev {
            left: 0;
        }

        .slick-next {
            right: 0;
        }

        @media #{$breakpoint-md} {
            padding: 1rem 2rem 0 2.5rem;

            .slick-prev {
                left: 15px;
            }
        }
    }

    .cart-buttons {
        .common-button {
            min-height: 40px;
            min-width: 140px;
        }
    }

    .akabare-slider-item {
        img {
            @include radius(5px);
        }
    }

    .akabare-product-thumbnail {
        margin-top: 1rem;

        .akabare-slider-item {
            background-color: var(--white-color);
            padding: 5px;
            @include radius(5px);
            border: 1px solid var(--border-color);
            margin: 0 5px;

            &.slick-active.slick-current {
                border-color: var(--primary-color);
            }
        }

        .slick-list {
            margin: 0 -5px;
        }

    }

    .akabare-product-info {
        padding: 0;
        margin-top: 2rem;

        @media #{$breakpoint-md} {
            padding: 1rem 1.5rem;
            margin: 0;

        }
    }

    .akabare-product-header {
        h2 {
            font-size: 1.5rem;
        }
    }

    .akabare-product-price {
        margin: .5rem 0;

        b {
            color: var(--primary-color);
            font-size: 1rem;
        }

        span {
            font-size: .875rem;

            &.mrp {
                &::after {
                    content: ':';
                    display: inline-flex;
                    margin: 0 .25rem;
                }
            }

            &.badge {
                font-size: 11px;
                padding: 7px 9px;
                font-weight: 500;
                background-color: rgba(var(--secondary-color), .25);
                color: var(--secondary-color);
                @include radius(.25rem);
                margin-left: .5rem;
            }

        }
    }

    .rating-stars {
        i {
            color: var(--orange-color);
        }

    }

    .label-rating {
        margin-left: .5rem;
    }

    .akabare-product-available {
        margin: .6125rem 0;
    }

    .search-bar {
        margin: 1rem auto;
        position: relative;

        .search-wrap {
            span {
                background-color: transparent;

                i {
                    color: var(--body-color);
                }
            }

            input {
                &:focus {
                    background-color: transparent;
                }
            }
        }

        ul {
            display: none;
            visibility: hidden;
            opacity: 0;
            transform: translateY(30px);
            @include transition(all .5s ease);
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 1000;
            min-width: 150px;
            background-color: var(--white-color);
            @include radius(8px);
            @include box-shadow(0px 6px 10px rgba(0, 0, 0, .1));
            width: 100%;

            li {
                margin: 0;

                a {
                    padding: .5rem .6125rem;
                    color: var(--heading-color);
                    @include transition(all .4s ease-in-out);
                    @include display-flex(flex);
                    @include justify-content-start;
                    @include align-items-center;
                    font-weight: 400;

                    i,
                    svg {
                        margin-right: .6125rem;
                        font-size: 1rem;
                        color: var(--body-color);

                        img {
                            max-width: 16px;
                        }
                    }

                    &::after {
                        content: none;
                    }

                    &:hover {
                        background-color: var(--secondary-light);
                    }
                }

                span {
                    // padding:.5rem .6125rem;
                    color: var(--heading-color);
                    @include transition(all .4s ease-in-out);
                    @include display-flex(flex);
                    @include justify-content-start;
                    @include align-items-center;
                    font-weight: 600;

                    i,
                    svg {
                        margin-right: .6125rem;
                        font-size: 1rem;
                        color: var(--body-color);

                        img {
                            max-width: 16px;
                        }
                    }

                    &::after {
                        content: none;
                    }

                    &:hover {
                        background-color: var(--primary-light);
                    }
                }

                &:not(:last-child) {
                    border-bottom: 1px solid var(--border-color);
                }
            }
        }

        &.show-dropdown {
            ul {
                &.custom-dropdown-menu {
                    display: block;
                    opacity: 1;
                    visibility: visible;
                    top: 100%;
                    transform: translateY(0);
                }
            }
        }
    }

    .akabare-product-content {

        h5 {
            font-size: 1rem;

        }

        p {
            margin-top: 1rem;
            font-size: .875rem;
        }
    }
}