$heading-color:#3F403F;
$body-color:#212529;
$bg-light:#f8f9fa;
$bg-color:#f0f2f5;
$primary-color:#7EAB3F;
$primary-light:rgba($primary-color, .1);
$secondary-color:#D51E25;
$secondary-light:rgba($secondary-color, .15);
$secondary-dark:#C01541;
$grey-color:#F1F4F9;
$grey-light:#e9ecef;
$border-color:#E2E2E2;
$white-color:#ffffff;
$orange-color:#FFB100;
$orange-light:rgba($orange-color, .15);
$red-light:rgba($secondary-color, .15);
$shadow-color:#0000000D;

// Dark color